<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Random</title>
</head>

<body>

    <section>

        <p>
            <%= joke.type%>
        </p>
        <p>
            <%= joke.setup%>
        </p>
        <p>
            <%= joke.punchline%>
        </p>
        <form action="/" method="post">
            <input type="text" name="type" value=" <%= joke.type%>">
            <input type="text" name="setup" value=" <%= joke.setup%>">
            <input type="text" name="punchline" value=" <%= joke.punchline%>">
            <button>ADD To Jokes List</button>
        </form>
    </section>
</body>

</html>